<h2 style="text-align: center; margin-top: 20px;">📺 Listado de Episodios</h2>

<div *ngIf="episodes.length === 0" style="text-align: center;">Cargando episodios...</div>

<div class="episode-container">
  <div *ngFor="let ep of episodes" class="episode-card">
    <div class="episode-title">{{ ep.episode }} - {{ ep.name }}</div>
    <div class="episode-air-date">Emitido: {{ ep.air_date }}</div>
    <a [routerLink]="['/episode', ep.id]" class="button">Ver personajes</a>
  </div>
  <router-outlet />
</div>

